


<div class="accueil">


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('../../assets/fond.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../../assets/fond2.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Second Slide</h3>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../../assets/logo.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Third Slide</h3>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="presentation" style="float: none; margin: 0 auto">
    <img [src]="cheminImage" alt="portrait" class="portrait">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ex tristique, cursus ante vitae, pharetra libero. Integer ut malesuada purus. Sed a sapien sed turpis tincidunt rutrum vitae non neque. Proin ut metus placerat est aliquet commodo at vitae turpis. Ut feugiat laoreet ligula, quis lobortis magna dictum non. Maecenas est enim, fermentum sit amet ullamcorper ut, hendrerit id nulla. Sed sed aliquam tellus. Donec pretium mattis eros, vitae consectetur lacus iaculis in.

      Nunc imperdiet orci tortor, vitae volutpat turpis placerat eu. Donec tristique eleifend vestibulum. Duis urna sem, aliquam sit amet libero vel, ornare elementum velit. Praesent ornare id velit ac pretium. Maecenas commodo, felis in consequat fringilla, lorem ex sollicitudin nunc, nec scelerisque augue augue et velit. Proin elementum, lorem vitae sollicitudin rhoncus, magna nulla suscipit tortor, eget elementum metus mauris sed nisi. Cras in mi ac sapien pellentesque pharetra quis sit amet sem. Quisque mattis vitae nibh ac tristique. Phasellus vel tincidunt tortor. Suspendisse venenatis, sem eu pulvinar varius, sapien erat lacinia metus, sed facilisis ex enim quis urna. Phasellus elementum dui sapien, quis interdum urna venenatis vel. Proin ultricies varius tellus, et congue diam aliquet vel. Donec commodo in quam sed pellentesque.

      In hac habitasse platea dictumst. Quisque iaculis lacus faucibus nisl interdum, vehicula pellentesque orci venenatis. Phasellus egestas ullamcorper purus, ut commodo urna efficitur in. Phasellus faucibus commodo ante sed tincidunt. Donec blandit risus quam, quis rhoncus risus ullamcorper sed. Nulla feugiat interdum turpis, vitae lobortis erat accumsan eu. In at tincidunt enim. Fusce efficitur velit non blandit porta. Donec tincidunt ut libero et pharetra. Donec id nulla laoreet, porttitor ligula ut, tristique eros. Aliquam tortor lacus, lacinia eu odio id, maximus iaculis dolor. Sed eleifend velit auctor enim lobortis tempor.

      Sed ac erat quis nisl mattis commodo. Curabitur pulvinar accumsan sapien, sit amet varius ante suscipit vel. Sed pulvinar vulputate dolor at gravida. Sed non purus rhoncus, dictum nisl eget, fringilla magna. Quisque vel aliquet augue. Aliquam erat volutpat. Morbi congue, purus non feugiat ultricies, enim diam varius mi, eget lacinia nulla erat sed risus. Duis non tempus risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam quam dolor, vestibulum in magna vel, faucibus tincidunt metus. Nulla vulputate erat a dolor hendrerit, vitae mollis neque tristique. Quisque ligula dui, posuere vitae ex ac, dictum tempor dolor.

      Cras augue nibh, suscipit quis sodales pharetra, pulvinar id felis. Aliquam odio felis, imperdiet sit amet molestie at, volutpat commodo odio. Phasellus at mi ante. Vivamus enim magna, imperdiet ac vulputate eu, elementum a justo. Quisque ipsum ex, euismod ornare venenatis id, eleifend at felis. Integer nec tempus urna. Vestibulum augue arcu, pellentesque id condimentum at, tristique vitae libero.
    </p>
  </div>
</div>


